.aboutme {
    @extend .section;
    @include above-mobile {
        background: url(../public/backgrounds/aboutme.jpg) top right no-repeat;
        background: url(../public/backgrounds/aboutme.webp) top right no-repeat;
        background-size: cover;
    }
    @include large {
        background: url(../public/backgrounds/aboutme.jpg) no-repeat;
        background: url(../public/backgrounds/aboutme.webp) no-repeat center center;
        background-size: cover;
        max-width: 1500px;
        margin: 0 auto;
    }
    &__content {
        @extend .page__content, .page__content--aboutme;
    }
}
