.contact {
    @extend .section;
    @include above-mobile {
        @include with-bckgrnd-image("/backgrounds/contact.jpg");
        @include with-bckgrnd-image("/backgrounds/contact.webp");
    }
    @include large {
        background: url(/backgrounds/contact.jpg) no-repeat;
        background: url(/backgrounds/contact.webp) no-repeat center center;
        background-size: cover;
        max-width: 1500px;
        margin: 0 auto;
    }
    &__content {
        @extend .page__content, .page__content--contact;

        & .container {
            @extend .page__container;
            color: $text-color--dark;
            @include mobile {
                color: $text-color--light;
            }
            & h1 {
                @include mobile {
                    color: $text-color--light !important;
                }
            }

            & dl {
                line-height: 1.8;
                padding-top: 20px;
                & dt {
                    display: block;
                    clear: both;
                    width: 150px;
                    float: left;
                }
                & dd {
                    display: block;
                    margin: 0;
                    float: left;
                    & svg {
                        @extend .fa-icon, .fa-icon--red;
                    }
                    & a span {
                        padding-left: 6px;
                        &:hover {
                            text-decoration: underline;
                            @include above-mobile {
                                color: $red-color--subdued;
                            }
                        }
                    }
                }
            }
        }
    }
}
