.single-project {
    & .top-section {
        &--firebase {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/firebase-application.webp") no-repeat bottom;
            }
        }
        &--portfolionext {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/portfolio-next.webp") no-repeat bottom;
            }
        }
        &--unsplash {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/unsplash.webp") no-repeat bottom;
            }
        }
        &--athletes {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/athletes.webp") no-repeat bottom;
            }
        }
        &--chat {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/fake-chat.webp") no-repeat bottom;
            }
        }
        &--cryptocurrency-tracker {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/cryptocurrency-tracker.webp") no-repeat bottom;
            }
        }
        &--minifigs {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/minifigs.webp") no-repeat bottom;
            }
        }
        &--cookbook {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/cookbook.webp") no-repeat bottom;
            }
        }
        &--space-portfolio {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/space-portfolio.webp") no-repeat bottom;
            }
        }
        &--floydian-portfolio {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/floydian-portfolio.webp") no-repeat bottom;
            }
        }
        &--dancer-portfolio {
            // background-color: $dancer-portfolio-background-color;
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/dancer-portfolio.webp") no-repeat bottom;
            }
        }
        &--physioterapy {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/physioterapy-clinic.webp") no-repeat bottom;
            }
        }
        &--weather-forecast {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/weather-forecast.webp") no-repeat bottom;
            }
        }
        &--google-books-finder {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/google-books-finder.webp") no-repeat bottom;
            }
        }
        &--decision-tree {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/decision-tree-builder.webp") no-repeat bottom;
            }
        }
        &--youtube-player {
            & .project-screen {
                @include project-screen;
                background: url("/images/project_images_with_device/youtube-player.webp") no-repeat bottom;
            }
        }
    }
}
