*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-open-sans;
    margin: 0;
    font-size: 16px;
    line-height: 1.4321;
    text-align: left;
    padding-top: 0;
    color: $text-color--dark;
    scroll-behavior: smooth;
    min-height: 100vh;
    @include large {
        background-color: #2f0002;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.full-screen {
    min-height: 100vh;
    width: 100vw;
}
#__next {
    @extend full-screen !optional;
}

main {
    @extend full-screen !optional;
}

*:focus {
    outline: 2px ridge #036397;
    outline-offset: 1px;
}
