.author-base-image {
    @include box-shadow--basic;
    @include size($author-image-mobile-size);
    @include media-md {
        @include size($author-image-medium-size);
    }
    @include media-above-md {
        @include size($author-image-large-size);
    }
    border-radius: 50%;
    opacity: 1;
}

.aboutme {
    @extend .section;
    background: url(../public/backgrounds/aboutme.jpg) top right no-repeat;

    &__content {
        &-mobile {
            @extend .white-paragraph;
            line-height: 1.4;
            font-stretch: condensed;
            display: block;
            min-height: 100vh;
            font-weight: 200;
            letter-spacing: 0.6px;
            padding-left: calc($mobile-top-distance / 2);
            padding-right: $mobile-top-distance;
            padding-bottom: $grid;
            margin-top: 250px;
            background-color: $mobile-aboutme-background-color;
        }
        &-above-mobile {
            @extend .content-above-mobile;
            @extend .white-paragraph;
            // position: absolute;
            // left: 25%;
            // right: 0;
            // width: 75%;
            padding-left: $mobile-top-distance;
            padding-right: $mobile-top-distance;
            padding-top: 3 * $grid;

            & p {
                @include media-sm {
                    font-size: 16px;
                }
            }
        }
    }

    & .mobile-header {
        display: block;
        background: url(../public/backgrounds/aboutme.jpg) top right no-repeat;
        background-size: cover;
        @include block-top-fixed;
        @include size(100vw, 250px);
        color: white;
        & .name {
            position: relative;
            top: $mobile-top-distance;
            padding-left: $mobile-padding;
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;

            @include media-xsm {
                padding-left: unset;
                text-align: center;
                top: $author-image-mobile-size + $mobile-top-distance;
                font-size: 16px;
                letter-spacing: 1.8px;
                margin-top: $mobile-top-distance;
            }
        }
        & .description {
            position: relative;
            top: $mobile-top-distance + 16px;
            padding-left: calc($mobile-top-distance / 2);
            font-size: 12px;
            font-weight: 100;
            text-transform: uppercase;
            @include media-xsm {
                padding-left: unset;
                text-align: center;
                top: $author-image-mobile-size + $mobile-top-distance;
            }
        }

        & .image {
            @extend .author-base-image;
            position: fixed;
            top: $mobile-top-distance;
            left: calc(50vw - 130px / 2);
        }
    }
}
