*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include font();
    margin: 0;
    font-size: 16px;
    line-height: 1.4321;
    text-align: left;
    padding-top: 0;
    color: $text-dark-color;
    scroll-behavior: smooth;
    min-height: 100vh;
}

.full-screen {
    min-height: 100vh;
    width: 100vw;
}
#__next {
    @extend full-screen !optional;
}

main {
    @extend full-screen !optional;
}

.section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-size: cover;
    overflow-y: scroll;
    overflow-y: auto;
}

.content-above-mobile {
    position: absolute;
    left: 25%;
    right: 0;
    width: 75%;
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.growImage {
    animation: growImage ease-in-out 1s;
}

@keyframes growImage {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.white-paragraph {
    color: #fff;
    font-family: "Raleway";
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 17px;

    & p {
        padding: 0.25 * $grid 0;
    }
    @include media-xsm {
        line-height: 1.2;
    }
}
