*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include font();
    margin: 0;
    font-size: 16px;
    line-height: 1.4321;
    text-align: left;
    padding-top: 0;
    color: $text-dark-color;
    scroll-behavior: smooth;
    min-height: 100vh;
}

.full-screen {
    min-height: 100vh;
    width: 100vw;
}
#__next {
    @extend full-screen !optional;
}

main {
    @extend full-screen !optional;
}
