.hamburger {
    padding: 0;
    border: none;
    background: none;

    display: flex;
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
    @include size(40px);
    z-index: 100;
    padding: 5px;
    margin: calc($grid / 2);

    cursor: pointer;
    @include block-fixed(top, right);
    margin: $mobile-top-distance 0px;

    justify-content: center;
    align-items: center;
    background: none repeat scroll 0% 0% $text-lighter-color;
    box-sizing: initial;
    @include box-shadow--basic;

    &__image {
        @include size(30px);
        @include transition(background-color 0.7s ease-in-out);
        outline: none;
        background-image: url(../public/images/hamburger.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        border: none;
        float: right;
        cursor: pointer;
        touch-action: manipulation;
    }
}

// .hamburger--toggler {
//     @include size(30px);
//     @include transition(background-color 0.7s ease-in-out);
//     outline: none;
//     background-image: url(../public/images/hamburger.svg);
//     background-color: transparent;
//     background-repeat: no-repeat;
//     background-position: center center;
//     padding: 0;
//     border: none;
//     float: right;
//     cursor: pointer;
//     touch-action: manipulation;
// }
