@mixin font($type: "normal") {
    @if $type== "light" {
        font-family: $font-light;
        font-weight: $font-weight-light;
    } @else if $type== "bold" {
        font-family: $font-bold;
        font-weight: $font-weight-bold;
    } @else {
        font-family: $font-regular;
        font-weight: $font-weight-normal;
    }
}

@mixin block-top-fixed {
    position: fixed;
    left: 0;
    top: 0;
}

@mixin block-fixed($horizontal, $vertical) {
    position: fixed;
    @if $horizontal == "bottom" {
        bottom: 0;
    }
    @if $horizontal == "top" {
        top: 0;
    }
    @if $vertical == "right" {
        right: 0;
    }
    @if $vertical == "left" {
        left: 0;
    }
}

@mixin filter($filters...) {
    -webkit-filter: $filters;
    -moz-filter: $filters;
    -ms-filter: $filters;
    -o-filter: $filters;
    filter: $filters;
}

@mixin transform($transform...) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin translate($x, $y) {
    @include transform(translate($x, $y));
}

@mixin translateX($x) {
    @include transform(translateX($x));
}

@mixin translateY($y) {
    @include transform(translateY($y));
}

@mixin rotate($degrees) {
    @include transform(rotate(#{$degrees}deg));

    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
    //zoom: 1;
}

@mixin margin-auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin horizontally-centered-block {
    margin: 0 auto;
}
@mixin horizontally-centered-block-half-wide {
    @include horizontally-centered-block();
    width: 50%;
}

@mixin center($position: both) {
    position: absolute;

    @if $position== "vertical" {
        @include translateY(-50%);
        top: 50%;
    } @else if $position== "horizontal" {
        @include translateX(-50%);

        left: 50%;
    } @else if $position== "both" {
        @include translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

@mixin media-xsm {
    @media (max-height: 321px) {
        @content;
    }
}

// @mixin media-vsm {
//     @media (min-width: 480px) {
//         @content;
//     }
// }

// @mixin media-vsm-portrait {
//     @media (min-height: 530.2px) and(orientation: portrait) {
//         @content;
//     }
// }

@mixin media-sm {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin media-767W {
    @media (min-width: 767px) {
        @content;
    }
}

@mixin media-t-portrait {
    @media (min-width: 720px) and (max-width: 1023px) and (orientation: portrait) {
        @content;
    }
}

//
@mixin media-lg {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}

@mixin text-with-shadow {
    text-shadow: -1px -1px 1px #a1a1a1, 1px 1px 1px #585b66;
}

@mixin media-above-xsm {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin above-mobile {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin media-xsm {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin media-sm {
    @media (min-width: 576px) and (max-width: 767px) {
        @content;
    }
}

@mixin media-md {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin media-above-md {
    @media (min-width: 991px) {
        @content;
    }
}

@mixin media-lg {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width: 1200px) and (max-width: 1439px) {
        @content;
    }
}

@mixin media-xxl {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin white-text-with-shadow {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@mixin box-shadow--basic {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.growImage {
    animation: growImage ease-in-out 1s;
}

@keyframes growImage {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.white-paragraph {
    color: #fff;
    font-family: "Raleway";
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 17px;

    & p {
        padding: 0.25 * $grid 0;
    }
    @include media-xsm {
        line-height: 1.2;
    }
}
