.projects {
    & .rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner::before,
    .rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner::before {
        background-color: $vivid-red-color !important;

        border-color: $vivid-red-color !important;
    }
    & .rs-checkbox-wrapper::before {
        background-color: transparent;
        border: 1px solid $vivid-red-color !important;
    }

    & label:hover .rs-checkbox-wrapper .rs-checkbox-inner::before {
        border-color: $vivid-red-color;
    }

    @extend .section;
    background: url(../public/backgrounds/skills.jpg) top right no-repeat;
    background-size: cover;

    &__content {
        @extend .content;
        @include mobile {
            font-weight: 200;
            letter-spacing: 0.6px;
            background-color: white;
            color: $text-dark-color;
            padding: 45px 20px;
        }
        @include above-mobile {
            align-items: center;
            & p {
                @include media-sm {
                    font-size: 16px;
                }
            }
        }
        & .container {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 45px;
            & .category-container {
                border-top: $greyish-border;
                padding: calc($grid / 2) 0;
            }
            .project {
                padding: calc($grid / 3);
                margin: calc(2 * $grid / 3) 0;
                border: 1px solid $subdued-red-color;
                &__title {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 1;
                    margin-bottom: 1em;
                    @include mobile {
                        font-size: 20px;
                        margin-bottom: 0.8em;
                    }
                }
                &__subtitle {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.5;
                    text-transform: none;
                    margin-bottom: 0.66em;
                    @include mobile {
                        font-size: 16px;
                        margin-bottom: 0.5em;
                    }
                }
                &__features-header {
                    font-size: 12px;
                    text-transform: uppercase;
                    padding-bottom: 0.5em;
                }
                &__features-list {
                    list-style-type: none;
                    & .features-list__item {
                        background-color: $subdued-red-color--lighter;
                        margin: 0 6px;
                        display: inline-block;
                        color: #fff;
                        padding: 4px 10px;
                        font-size: 12px;
                        text-transform: uppercase;
                        border: 1px solid black;
                        &:first-child {
                            margin: 0 0;
                        }
                    }
                }
            }

            @include above-mobile {
                background-color: $whitish;
                padding: $grid;
                @include box-shadow--basic;
                justify-content: center;
                width: 573px;
            }
            // & h2 {
            //     line-height: 1;
            //     font-size: 36px;
            //     font-weight: 400;
            //     text-transform: uppercase;
            //     padding-bottom: 45px;
            //     padding-top: 45px;
            // }
            & h3 {
                line-height: 1;
                font-size: 24px;
                font-weight: 300;
                padding-bottom: $grid;
                padding-top: $grid;
                color: $subdued-red-color;
            }

            & h4 {
                line-height: 1;
                font-size: 18px;
                font-weight: 200;
                padding-bottom: calc($grid / 2);
                padding-top: calc($grid / 2);
                color: $subdued-red-color;
                position: relative;
            }
        }
    }
}
