$text-dark-color: #001820;
$vivid-red-color: #d3101c;

$subdued-red-color: rgba(145, 13, 13, 0.8);
$subdued-red-color--lighter: rgba(145, 13, 13, 0.7);
$mobile-background-color: #24332a; //#4d4e41;
$dark-background-color: #303337;
$whitish: rgba(255, 255, 255, 0.65);
$light-olive-transparent: rgba(67, 84, 22, 0.4);
$yellowgreen: rgb(149, 199, 48);
$yellowgreen-transparent: rgb(149, 199, 48, 0.4);
$greyish: #ddd;
$greyish-border: 1px solid $greyish;

$font-raleway: "Raleway", sans-serif; //
$font-open-sans: "Open Sans", sans-serif; //
$font-light: $font-raleway;
$font-bold: $font-raleway;
$font-regular: $font-open-sans;

$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;

$grid: 30px !default;
$mobile-top-distance: 24px;
$navbar-xsm-top: 11px;

$author-image-mobile-size: 130px;
$author-image-medium-size: 140px;
$author-image-large-size: 150px;
$header-mobile-height: 300px;

$mobile-padding: 12px;

$olive-full: rgb(83, 105, 53);
$olive-light: rgba(83, 105, 53, 0.7);
